.qr-scanner {
    width: 100%;
    height: 100%;
    /* background-color: grey; */
    /* border: 1px solid #6d6f73; */
    border: 1px solid #b5bac4;
    border-radius: 0.2rem;
}

.scanner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actual-reader {
    width: 20rem;
    height: 20rem;
}

.reader-loading {
    height: 20rem;
    width: 20rem;
}
